body{
    background-color: #fefefe;
}
.card-ttl {
    font-size: 18px !important;
    font-weight: 600 !important;
}
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.thead-theme {
    background-color: #006845f0;
    color: white;
}
.btn-primary {
    color: #fff;
    background-color: #006342f0;
    border-color: #006342f0;
}
.card-header {
    padding: 1.125rem 1.25rem;
    margin-bottom: 0;
    background-color: #f1f5f7;
    border-bottom: 0 solid #f1f5f7;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem 1.25rem;
    padding-top: 5px !important;
}

.input-group-text-sm{
    padding: .25rem 0.5rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}
.badge-warning{
    background-color: #ffbc2c;
}
.badge-success{
    background-color: #06773d;
}
.badge-danger{
    background-color: #f22121;
}
.header-foto-persetujuan{
    height: 50px;
    width: 50px;
    background-color: #f1f5f7;
    padding: 3px;
}
.text-bold{
    font-weight: 900;
}
.text-super-bold{
    font-family: Inter,sans-serif !important;
    font-weight: 900 !important;
}
.div-b-table {
    width: 100%;
    max-height: 800px;
    overflow: scroll;
    position: relative;
    white-space: nowrap;
  }
  /* width */
  .div-b-table::-webkit-scrollbar {
    width: 7px;
  }
  .div-b-table::-webkit-scrollbar {
    height: 7px;
  }
  /* Track */
  .div-b-table::-webkit-scrollbar-track {
    border-radius: 2px;
  }
   
  /* Handle */
  .div-b-table::-webkit-scrollbar-thumb {
    background: #c4c4c4; 
    border-radius: 2px;
  }
  
  /* Handle on hover */
  .div-b-table::-webkit-scrollbar-thumb:hover {
    background: #999999; 
  }
  .table-bordered, .table-bordered td, .table-bordered th {
    border: 1px solid #eff2f7;
}
