/**
 * Align
 */
 .main .container-fluid {
    padding: 15px !important;
}

.align-center {
    text-align: center !important;
}

.align-left {
    text-align: left !important;
}

.align-right {
    text-align: right !important;
}

/**
 * End align
 */

/**
 * Padding style
 */

.pr-25px {
    padding-right: 25px;
}

.pt-0px {
    padding-top: 0px;
}

.pl-15px {
    padding-left: 15px;
}

.pr-15px {
    padding-right: 15px;
}

.p-0px {
    padding: 0px;
}

.pb-15px {
    padding-bottom: 15px;
}

.pl-0px {
    padding-left: 0px;
}

.pr-0px {
    padding-right: 0px;
}

/**
 * End padding style
 */

/**
 * Margin style
 */

.mt-5px {
    margin-top: 5px;
}

.mt-15px {
    margin-top: 15px;
}

.mb-0px {
    margin-bottom: 0px;
}

.mb-30px {
    margin-bottom: 30px;
}

/**
 * End margin style
 */

/**
 * Template
 */

.fs-12px {
    font-size: 12px;
}

.i-checks {
    font-size: 12px;
    margin-bottom: 0px;
}

.tittle-header {
    padding-bottom: 15px;
    margin-top: 15px;
    color: #000000;
    margin-bottom: 15px;
    width: 100%;
    border-bottom: 1px solid #dddddd;
}

.pagination {
    font-size: 12px;
}

.ui-select-bootstrap .ui-select-match .btn-default {
    height: 28px;
    font-size: 12px;
}

.ui-select-toggle {
    padding-top: 5px;
}

.ui-select-bootstrap .ui-select-choices-row>span {
    font-size: 12px;
}

.ui-select-search {
    font-size: 12px;
    height: 28px;
}

.sidebar .nav-item a {
    font-size: 12px;
}

.angka {
    text-align: center;
}

.badge-table {
    font-size: 11px;
}

.input-group-sm {
    height: 28px;
}

.input-group-sm .input-group-text {
    font-size: 11px;
}

.rp {
    text-align: right;
}

.required::after {
    content: '*';
    color: red;
}

.steps-indicator li.current a:before {
    background-color: #31b5f5 !important;
}

.app-header.navbar .navbar-brand {
    padding: 0px;
    padding-right: 0px;
    border-right: 1px solid #f0f3f5;
    position: relative;
    height: 51px;
    font-size: 20px;
    border-bottom: none;
    background-color: #ffff;
    width: 200px;
    text-align: center;
    /*border-bottom: 1px solid #f0f3f5;*/
}

.px-3 {
    font-size: 13px;
}

.navbar-brand {
    margin-top: 5px;
}

.navbar-brand-text {
    margin-top: 8px;
}

.img-brand {
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.box-shadow {
    border-radius: 5px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.card-footer {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.print-preview {
    font-family: times;
}

/**
 * End template
 */

/**
 * Password Checker
 */

input.ng-pristine+ul#strength {
    display: none;
}

ul#strength {
    /*display: inline;*/
    list-style: none;
    margin: 0;
    /*margin-left: 15px;*/
    padding: 0;
    vertical-align: 2px;
}

.point:last {
    margin: 0 !important;
}

.point {
    background: #ddd;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    margin-right: 1px;
    width: 20px;
}

.point-text {
    background: #ddd;
    display: inline-block;
    height: 5px;
    margin-right: 1px;
    margin-left: 4px;
    background-color: transparent;
    font-size: 11px;
}

.help-block-sm {
    font-size: 11px;
    margin-bottom: 0px;
}

/** End Password Checker */

/**
 * Table
 */

.table td,
.table th {
    /*border-top: 1px solid #c8ced3;*/
    border-top: 1px solid #ebedf3;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(235, 237, 243);
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
}

.table td,
.table th {
    vertical-align: middle;
}

.table thead tr th {
    height: 35px;
    /*border-bottom: 1px solid #c8ced3;*/
    vertical-align: middle;
    padding: 10px 20px;
}


.table-striped td {
    border-top: none;
    padding: 4px 20px;
}

.table-tagihan thead tr th {
    height: 35px;
    border-bottom: 1px solid #c8ced3;
    vertical-align: middle;
    padding: 10px 5px;
}

.table-tagihan td {
    border-top: none;
    padding: 5px 5px;
}

/**
 * End table
 */

/**
 * Tabel Laporan
 */
/*.table-laporan tr {*/
/*!*background-color: #e3f1f31f;*!*/
/*border-bottom: none;*/
/*}*/

/*.table-laporan td {*/
/*border: none !important;*/
/*}*/

/*.table-laporan tbody + tbody {*/
/*border-top: none;*/
/*}*/

/*.table-laporan tbody tr:nth-of-type(odd) {*/
/*background-color: rgba(57, 143, 163, 0.12);*/
/*}*/


/**
 * End tabel laporan
 */

/**
 * Table Laporan Fixed
 */
.table-laporan-fixed {
    width: 100%;
    max-height: 500px;
    overflow: scroll;
    position: relative;
}

.table-laporan-fixed tfoot th {
    position: -webkit-sticky;
    /* for Safari */
    position: sticky;
    background-color: #ececec;
    color: #000000;
    bottom: 0;
}

.table-laporan-fixed thead th {
    z-index: 100;
    width: 150px;
    position: -webkit-sticky;
    /* for Safari */
    position: sticky;
    background-color: #ececec;
    color: #000000;
    top: -1px;
}

/**
 * Table Laporan Fixed no width
 */
.table-laporan-fixed-no-width {
    width: 100%;
    max-height: 500px;
    overflow: scroll;
    position: relative;
}

.table-laporan-fixed-no-width tfoot th {
    position: -webkit-sticky;
    /* for Safari */
    position: sticky;
    background-color: #ececec;
    color: #000000;
    bottom: 0;
}

.table-laporan-fixed-no-width thead th {
    z-index: 100;
    position: -webkit-sticky;
    /* for Safari */
    position: sticky;
    background-color: #ececec;
    color: #000000;
    top: -1px;
}

/* left-fixed-1 */
.table-laporan-left-fixed .head-left-fixed-1 {
    left: 0;
    z-index: 1;
}

.table-laporan-left-fixed .body-left-fixed-1 {
    position: -webkit-sticky;
    /* for Safari */
    position: sticky;
    left: 0;
    background-color: #ffffff !important;
    font-weight: unset !important;
    border-right: 1px solid #CCC;
}

.table-laporan-left-fixed .foot-left-fixed-1 {
    left: 0;
    z-index: 1;
}

/* left-fixed-2 */
.table-laporan-left-fixed .head-left-fixed-2 {
    left: 150px;
    z-index: 1;
}

.table-laporan-left-fixed .body-left-fixed-2 {
    position: -webkit-sticky;
    /* for Safari */
    position: sticky;
    left: 150px;
    background-color: #ffffff !important;
    font-weight: unset !important;
    border-right: 1px solid #CCC;
}

.table-laporan-left-fixed .foot-left-fixed-2 {
    left: 150px;
    z-index: 1;
}

/* left-fixed-3 */
.table-laporan-left-fixed .head-left-fixed-3 {
    left: 300px;
    z-index: 1;
}

.table-laporan-left-fixed .body-left-fixed-3 {
    position: -webkit-sticky;
    /* for Safari */
    position: sticky;
    left: 300px;
    background-color: #ffffff !important;
    font-weight: unset !important;
    border-right: 1px solid #CCC;
}

.table-laporan-left-fixed .foot-left-fixed-3 {
    left: 300px;
    z-index: 1;
}

/* left-fixed-4 */
.table-laporan-left-fixed .head-left-fixed-4 {
    left: 450px;
    z-index: 1;
}

.table-laporan-left-fixed .body-left-fixed-4 {
    position: -webkit-sticky;
    /* for Safari */
    position: sticky;
    left: 450px;
    background-color: #ffffff !important;
    font-weight: unset !important;
    border-right: 1px solid #CCC;
}

.table-laporan-left-fixed .foot-left-fixed-4 {
    left: 450px;
    z-index: 1;
}

/* left-fixed-5 */
.table-laporan-left-fixed .head-left-fixed-5 {
    left: 600px;
    z-index: 1;
}

.table-laporan-left-fixed .body-left-fixed-5 {
    position: -webkit-sticky;
    /* for Safari */
    position: sticky;
    left: 600px;
    background-color: #ffffff !important;
    font-weight: unset !important;
    border-right: 1px solid #CCC;
}

.table-laporan-left-fixed .foot-left-fixed-5 {
    left: 600px;
    z-index: 1;
}

/* left-fixed-6 */
.table-laporan-left-fixed .head-left-fixed-6 {
    left: 750px;
    z-index: 1;
}

.table-laporan-left-fixed .body-left-fixed-6 {
    position: -webkit-sticky;
    /* for Safari */
    position: sticky;
    left: 750px;
    background-color: #ffffff !important;
    font-weight: unset !important;
    border-right: 1px solid #CCC;
}

.table-laporan-fixed table {
    table-layout: fixed;
}

.table-laporan-left-fixed .foot-left-fixed-6 {
    left: 750px;
    z-index: 1;
}

/**
 * End Table Laporan Fixed
 */

/**
 * Sweet alert
 */

.swal2-popup .swal2-title {
    font-size: 20px;
}

.swal2-popup #swal2-content {
    font-size: 16px;
    text-align: center;
}

/**
 * Medium
 */

.medium-editor-toolbar li button {
    min-width: 35px !important;
    height: 35px !important;
    padding: 5px !important;
}

.card-header strong {
    font-size: 18px;
}

.card-header-white {
    background-color: #fff;
    border-bottom: 1px solid #e4e5e6;
}

.orgchart .bg-org .title {
    background-color: #006699;
}

.cs-label {
    padding: 0.4rem;
    font-size: 12px;
}

.lead {
    font-size: 21px;
    line-height: 32px;
    color: #181825;
}

.z-index-0 {
    z-index: 0;
}

::selection {
    background: rgba(255, 244, 147, .8);
    color: #272c30;
}

/*----------------- 7. Headers ---------------------------------*/


/* -------------------- Top Header --------------------*/
.top-header {
    background-color: #fff;
    font-size: 14px;
    color: #626582;
    line-height: 30px;
    border-bottom: 1px solid #f0f1f9;
    border-top: 3px solid #3544ee;
    padding-bottom: 4px;
    padding-top: 4px;
}

.top-header ul {
    margin-bottom: 0px;
}

.top-header ul li {
    float: left;
    margin-left: 18px;
}

.top-header ul li a {
    color: #626582;
}

.top-header i {
    font-size: 10px;
}

.top-header-social {}

.top-header-social i {
    font-size: 14px;
}

.top-header-social ul {
    margin-left: 10px;
}

.top-header-social ul li {
    float: left;
    margin-left: 8px;
}

.top-header-social ul li a {
    color: #9d9ea7;
}

.top-header-social ul li a:hover {
    color: #01d486;
}

/*!*-------------------------------------------------------------------8. Navigations-------------------------------------------------------------------*!*/
/*!*-------------------- Navigation classic ---------------------*!*/
.navbar-classic {}

.navbar-classic.navbar-light .navbar-nav .nav-link {
    color: #181825;

    /*padding: 12px 16px;*/
}

.navbar-classic .navbar-nav .nav-item {}

.navbar-classic .navbar-nav .nav-item .nav-link {
    font-size: 15px;
    color: #181825;
    padding: 12px 10px;
    line-height: 20px;
    /*border-bottom: 1px solid #fff;*/
}

.navbar-classic .navbar-nav .nav-item .nav-link:hover {
    /*color: #427bbe;*/
}

.navbar-classic .navbar-nav .nav-item .nav-link:hover.dropdown-toggle::after {
    /*color: #427bbe;*/
}

.navbar-classic .dropdown-toggle::after {
    margin-top: 1px;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 6px;
    vertical-align: -2px;
    content: "\f107";
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
    color: #bdbebf;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    margin-right: 15px;
    font-size: 13px;
    float: right;
}

.navbar-classic .navbar-collapse.show .dropdown .dropdown-menu .dropdown-item {
    border-bottom: 1px solid #f1f1f6;
    border-radius: 0px;
}

.navbar-collapse {
    padding-left: 15px;
}

.navbar-brand {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 2px;
    margin-right: initial;
    line-height: inherit;
    white-space: nowrap;
    color: #181825;
    font-size: 24px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10000;
    display: none;
    float: left;
    min-width: 16rem;
    padding: 12px;
    margin: 18px 0px;
    font-size: 1rem;
    color: #808294;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 2px;
    -webkit-box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.09);
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 15px 15px;
    clear: both;
    font-weight: 400;
    color: #181825;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 15px;
    line-height: 15px;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #427bbe;
    text-decoration: none;
    background-color: #eeeffd;
    border-radius: 4px;
}

.dropdown-item:focus .dropdown-toggle::after,
.dropdown-item:hover.dropdown-toggle::after {
    color: #427bbe;
}

@media (min-width: 992px) {
    /*.dropdown .dropdown-menu {*/
    /*    display: block;*/
    /*    visibility: hidden;*/
    /*    opacity: 0;*/
    /*    -webkit-transform: translateY(20px);*/
    /*    -ms-transform: translateY(20px);*/
    /*    transform: translateY(20px);*/
    /*    -webkit-transition: all .3s ease-in;*/
    /*    -o-transition: all .3s ease-in;*/
    /*    transition: all .3s ease-in*/
    /*}*/
    /*.dropdown:hover>.dropdown-menu {*/
    /*    visibility: visible;*/
    /*    opacity: 1;*/
    /*    -webkit-transform: scaleY(1);*/
    /*    -ms-transform: scaleY(1);*/
    /*    transform: scaleY(1);*/
    /*    opacity: 1;*/
    /*    visibility: visible;*/
    /*}*/
    /*.dropdown-submenu:hover .dropdown-menu {*/
    /*    visibility: visible;*/
    /*    opacity: 1;*/
    /*    -webkit-transform: scaleY(1);*/
    /*    -ms-transform: scaleY(1);*/
    /*    transform: scaleY(1);*/
    /*    opacity: 1;*/
    /*    visibility: visible;*/
    /*}*/
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 17px;
    top: 25px;
}

.dropdown-submenu .dropdown-menu {
    top: 0px;
    left: 100%;
    margin-left: 13px;
    margin-right: .1rem;
}

.caret-up {
    width: 0;
    height: 0;
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}

.mega-dropdown {
    position: unset;
}

.mega-dropdown-menu {
    /*width: 100%;*/
    position: absolute;
    top: 63px;
    margin: 15px 0px;
}

.mega-dropdown-menu ul {
    list-style: none;
}

.nav-dropitem-arrow {
    position: relative;
    font-size: 12px;
    opacity: 0;
    padding-right: 10px;
}

.nav-dropitem-arrow i {
    position: absolute;
    /* top: -1px;
    */
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #3544ee;
    text-decoration: none;
    background-color: #eeeffd;
    border-radius: 4px;
}

.dropdown-item:hover .nav-dropitem-arrow {
    color: #4955ef;
    opacity: 1;
    margin-right: 5px;
}

.navbar-classic .navbar-toggler,
.navbar-boxed .navbar-toggler {
    padding: 17px 15px;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid #eaeaf0;
    border-radius: .25rem;
    position: relative;
}

/* mobile menu css */
.navbar-classic .navbar-collapse.show .dropdown .dropdown-menu {
    background: #fff;
    box-shadow: none;
    margin: 7px 0px;
}

.navbar-classic .navbar-collapse.show .navbar-nav .nav-item .nav-link {
    /*border-bottom: 1px solid #f1f1f6;*/
}

.navbar-classic .navbar-collapse.show .dropdown .dropdown-menu .dropdown-submenu.dropdown-item {
    /*border-bottom: 1px solid #f1f1f6;*/
}

.navbar-boxed .navbar-collapse.show .dropdown .dropdown-menu {
    background: #fff;
    box-shadow: none;
    margin: 7px 0px;
}

.navbar-boxed .navbar-collapse.show .navbar-nav .nav-item .nav-link {
    border-bottom: 1px solid #f1f1f6;
}

.navbar-boxed .navbar-collapse.show .dropdown .dropdown-menu .dropdown-submenu.dropdown-item {
    border-bottom: 1px solid #f1f1f6;
}

.navbar-transparent .navbar-collapse.show .dropdown .dropdown-menu {
    background: #fff;
    box-shadow: none;
    margin: 7px 0px;
}

.navbar-transparent .navbar-collapse.show .navbar-nav .nav-item .nav-link {
    border-bottom: 1px solid #495bfb;
}

.navbar-transparent .navbar-collapse.show .dropdown .dropdown-menu .dropdown-submenu.dropdown-item {
    border-bottom: 1px solid #f1f1f6;
}

.icon-bar {
    width: 21px;
    height: 3px;
    background-color: #3544ee;
    display: block;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    margin-top: 4px
}

.navbar-toggler:focus {
    outline: 0px;
}

.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 190%;
    background-color: #3544ee;
}

.navbar-toggler .middle-bar {
    opacity: 0;
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% -80%;
    background-color: #3544ee;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
    background-color: #3544ee;
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
    background-color: #3544ee;
}

.breadcrumb {
    border-radius: 6px;
    margin-bottom: 0px;
}

.logo-header {
    max-width: 130px;
    padding-right: 25px;
    /*border-right: 1px solid #ddd;*/
}

.navbar-classic .navbar-nav .nav-item .active {
    color: #427bbe;
    font-weight: bold;
    text-decoration: none;
}

nav .breadcrumb {
    background-color: #f8f8fb;
}

nav ol li {
    /*color: #fff;*/
}

nav ol li a {
    color: #fff;
    /*font-size: 15px;*/
}

nav ol li a:hover {
    color: #fff;
    /*font-size: 15px;*/
}

nav ol li span {
    color: #fff;
}

.ul-login {
    position: absolute;
    right: 0px;
}

.user-login {
    /*background-color: #ececec;*/
    border-radius: 7px;
    cursor: pointer;
    /*border: 1px solid #e2e2e2;*/
    /*margin: 0px 2px;*/
}

.user-login:hover {
    /*background-color: #dddddd;*/
}

.card {
    display: -ms-flexbox;
}

.card {
    position: relative;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    border: none;
}

.mt-2 {
    margin-top: .5rem !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.mb-5 {
    margin-bottom: 3rem !important;
}

.text-white {
    color: #fff !important;
}

.card {
    margin-bottom: 1.5rem;
}

/*! CSS Used from: https://app.hayyu.co.id/library/font-awesome/css/font-awesome.min.css */
/*! CSS Used from: Embedded */
.card-img-absolute {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.bg-gradient-info {
    background: linear-gradient(to right, #90caf9, #047edf 99%);
    cursor: pointer;
}

/*! CSS Used fontfaces */

.mobile {
    display: none;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
    float: left;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-11 {
    width: 91.66666667%;
}

.col-xs-10 {
    width: 83.33333333%;
}

.col-xs-9 {
    width: 75%;
}

.col-xs-8 {
    width: 66.66666667%;
}

.col-xs-7 {
    width: 58.33333333%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-5 {
    width: 41.66666667%;
}

.col-xs-4 {
    width: 33.33333333%;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-2 {
    width: 16.66666667%;
}

.col-xs-1 {
    width: 8.33333333%;
}

.col-xs-pull-12 {
    right: 100%;
}

.col-xs-pull-11 {
    right: 91.66666667%;
}

.col-xs-pull-10 {
    right: 83.33333333%;
}

.col-xs-pull-9 {
    right: 75%;
}

.col-xs-pull-8 {
    right: 66.66666667%;
}

.col-xs-pull-7 {
    right: 58.33333333%;
}

.col-xs-pull-6 {
    right: 50%;
}

.col-xs-pull-5 {
    right: 41.66666667%;
}

.col-xs-pull-4 {
    right: 33.33333333%;
}

.col-xs-pull-3 {
    right: 25%;
}

.col-xs-pull-2 {
    right: 16.66666667%;
}

.col-xs-pull-1 {
    right: 8.33333333%;
}

.col-xs-pull-0 {
    right: auto;
}

.col-xs-push-12 {
    left: 100%;
}

.col-xs-push-11 {
    left: 91.66666667%;
}

.col-xs-push-10 {
    left: 83.33333333%;
}

.col-xs-push-9 {
    left: 75%;
}

.col-xs-push-8 {
    left: 66.66666667%;
}

.col-xs-push-7 {
    left: 58.33333333%;
}

.col-xs-push-6 {
    left: 50%;
}

.col-xs-push-5 {
    left: 41.66666667%;
}

.col-xs-push-4 {
    left: 33.33333333%;
}

.col-xs-push-3 {
    left: 25%;
}

.col-xs-push-2 {
    left: 16.66666667%;
}

.col-xs-push-1 {
    left: 8.33333333%;
}

.col-xs-push-0 {
    left: auto;
}

.col-xs-offset-12 {
    margin-left: 100%;
}

.col-xs-offset-11 {
    margin-left: 91.66666667%;
}

.col-xs-offset-10 {
    margin-left: 83.33333333%;
}

.col-xs-offset-9 {
    margin-left: 75%;
}

.col-xs-offset-8 {
    margin-left: 66.66666667%;
}

.col-xs-offset-7 {
    margin-left: 58.33333333%;
}

.col-xs-offset-6 {
    margin-left: 50%;
}

.col-xs-offset-5 {
    margin-left: 41.66666667%;
}

.col-xs-offset-4 {
    margin-left: 33.33333333%;
}

.col-xs-offset-3 {
    margin-left: 25%;
}

.col-xs-offset-2 {
    margin-left: 16.66666667%;
}

.col-xs-offset-1 {
    margin-left: 8.33333333%;
}

.col-xs-offset-0 {
    margin-left: 0;
}

.alert {
    width: max-content;
}

.card-body .alert {
    width: 100%;
}

@media (max-width: 991.98px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .navbar {
        padding: 0px;
    }

    .navbar-classic .navbar-toggler,
    .navbar-boxed .navbar-toggler {
        padding: 8px;
        margin: 10px;
        margin-top: 0;
    }

    .navbar-collapse {
        padding: 0px;
    }

    .navbar-classic .navbar-collapse.show .navbar-nav .nav-item .nav-link {
        padding: 10px 4px;
    }

    .navbar-classic .navbar-nav .nav-item .nav-link {
        padding: 10px 4px;
    }

    .dropdown-menu {
        padding: 0px 12px;
    }

    .navbar-classic .navbar-collapse.show .dropdown .dropdown-menu {
        margin: 0px;
    }

    /*.app-body {
        margin-top: 0px !important;
    }*/

    .alert {
        width: 100%;
    }

}

.ui-select-dropdown {
    padding: 0px;
}

.ui-select-bootstrap .ui-select-choices-row>span {
    padding: 7px 10px;
}

.header-classic {
    position: fixed;
    width: 100%;
    z-index: 9999;
    border-bottom: 1px solid #e4e5e6;
}

.modal-content {
    margin-top: 70px;
}

.modal-xl {
    min-width: 90%;
}

.no-mp {
    margin-bottom: 0px;
    padding: 0px;
}

/*-----*/
/*! CSS Used from: http://akademik.sunsal.or.id/app/css/style.css */
.i-checks {
    padding-left: 20px;
    cursor: pointer;
}

.i-checks input {
    position: absolute;
    margin-left: -20px;
    opacity: 0;
}

.i-checks input:checked+i {
    border-color: #23b7e5;
}

.i-checks input:checked+i:before {
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    background-color: #23b7e5;
}

.i-checks>i {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: -2px;
    margin-right: 4px;
    margin-left: -20px;
    line-height: 1;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #cfdadd;
}

.i-checks>i:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: transparent;
    content: "";
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.list-group-item {
    padding: 5px 6px;
}

.capitalize {
    text-transform: capitalize;
}

.ui-select-container[disabled],
.ui-select-container[readonly],
fieldset[disabled] .ui-select-container {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1;
}

.navbar .navbar-nav .dropdown-toggle,
.navbar-nav .nav-link,
.navbar-nav .navbar .dropdown-toggle {
    color: #000;
}

.input-group .ui-select-container {
    width: 90%;
}

.input-group button {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.ui-select-match .ui-select-match-item {
    border: 1px solid #ddd;
}


.table-laporan thead tr {
    background-color: #ececec;
    color: #000000;
}

.table-laporan tbody tr th {
    background-color: #ececec;
    color: #000000;
    text-align: center;
}

.table-laporan tfoot tr {
    background-color: #ececec;
    color: #000000;
    font-weight: bold;
}

.table-laporan thead tr th {
    vertical-align: middle;
    height: auto;
    padding: 10px 5px;
}


.header-laporan {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.content-center {
    text-align: center;
}

.header-laporan-wrapper {
    margin-bottom: 15px;
    margin-top: 15px;
    color: #525252;
}

.bg-secondary-light {
    background-color: #ececec;
    color: black;
}

.bg-light-success {
    background-color: #d7eed7;
    color: #5cb85c;
}

.bg-light-danger {
    background-color: #f8e1e0;
    color: #d9534f;
}

.bg-light-warning {
    background-color: #fbe8cd;
    color: #f0ad4e;
}

.bg-light-primary {
    color: #337ab7;
    background-color: #dfecf6;
}

.bg-light-secondary {
    color: #777;
    background-color: #eeeeee;
}

.bg-light-info {
    color: #5bc0de;
    background-color: #eef8fc;
}

/**
DASHBOARDS CSS
*/

.dashboard .card .progress {
    height: 30px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px
}

.dashboard .card .card-body hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*.dashboard .card{*/
/*margin-bottom: 10px;*/
/*}*/

.nav .uib-tab a {
    /*padding: 5px 10px;*/
    padding: 0.7rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dashboard .tab-pane {
    padding: 5px;
}

.mb-r-5 {
    margin-right: 5px;
}

.empty-tag::after {
    content: "\00a0";
}

.border-primary {
    border: 1px solid #337ab7;
}

.line-through {
    border-top: 1px solid #ddd;
    margin-left: 10px;
    position: relative;
    text-align: center;
}

.line-through p {
    font-size: 10px;
    position: absolute;
    text-align: left;
    top: -10px;
    width: 100%;
}

.line-through span {
    background: white;
    padding: 0px 10px 0px 10px;
}

/**
CUSTOM CSS MENU HEADER
*/
.user-login {
    margin: 6px;
}

.navbar {
    padding: 0px;
}

.navbar-classic .navbar-nav .nav-item .nav-link {
    padding: 5px 8px;
    font-size: 13px;
}

.navbar-classic .navbar-nav .nav-item .nav-link i {
    color: #676770;
    font-size: 20px;
}

.dropdown-item i {
    font-size: 11px;
    margin-left: 0px;
    margin-right: 5px;
}

.dropdown-menu {
    padding: 0px;
    margin: 0px 0px;
    min-width: 12rem;
    box-shadow: 5px 10px 18px #42424db8;
    /*background-color: #427bbd;*/
}

.navbar-classic .navbar-nav .nav-item .dropdown-item,
.dropdown-item {
    padding: 12px;
    /*border-bottom: 1px solid #ddd;*/
    font-size: 13px;
    line-height: 13px;
    /*color: #ffffff;*/
}

.navbar-classic .navbar-nav .nav-item .dropdown-item:hover,
.navbar-classic .navbar-nav .nav-item .dropdown-item:active,
.navbar-classic .navbar-nav .nav-item .dropdown-item:focus {
    color: #000000;
    background-color: #427bbd2b;
}

.dropdown-submenu a::after {
    top: 20px;
}

.dropdown-submenu .dropdown-menu {
    margin-left: 3px;
}

#laporan-print h4 {
    text-transform: uppercase;
}

/*.dropdown-menu .dropdown-item {*/
/*    padding: 0px;*/
/*}*/

.pencarian {
    padding: 20px 20px 20px 20px;
    background: #f8f8fb;
    /*border-top: 1px solid #ddd;*/
    margin-bottom: 1rem;
}

.pencarian .form-group {
    margin-bottom: 3px;
}

.img-logo {
    width: 100%;
}

.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}


/**
CUSTOM NAVBAR TANTOWI 4 JULI 2020
*/

body {
    margin: 0;
    /*font-size: 12px;*/
    font-weight: 400;
    line-height: 1;
    color: #424a4e;
    background-color: #f8f8fb;
    font-family: Poppins-Regular;
}

.logo-header {
    max-width: 130px;
    padding-right: 25px;
    /*border-right: 1px solid #ddd;*/
}

.navbar-nav .dropdown-menu {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

header {
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: #f8f8fb;
}

/*.header-top {*/
/*!*background-color: #ffffff;*!*/
/*position: fixed;*/
/*width: 100%;*/
/*z-index: 9999;*/
/*top: 0px;*/
/*}*/

.header-classic {
    background-color: #417cbd;
    /*position: fixed;*/
    /*width: 100%;*/
    /*z-index: 9999;*/
    /*top: 100px;*/
    /*border-bottom: 1px solid #e4e5e6;*/
}

@media (max-width: 600px) {
    .header-classic {
        background-color: #FFF;
    }

    .app-body {
        margin-top: 85px !important;
    }

    .navbar-classic .navbar-nav .nav-item .nav-link {
        color: #181825 !important;
    }

    .navbar-classic .navbar-nav .nav-item .nav-link .nav-icon {
        color: #181825 !important;
    }

    .navbar-classic .navbar-collapse.show .navbar-nav .nav-item .nav-link {
        padding: 7px 3px;
    }
}

.header-top .navbar-classic .navbar-nav .nav-item .nav-link {
    color: #424a4e;
}

.header-classic .navbar-classic .navbar-nav .nav-item .nav-link {
    padding: 15px 15px;
}

.header-classic .navbar-classic .navbar-nav .nav-item .nav-link i {
    padding-right: 5px;
}

.navbar-classic .navbar-nav .nav-item .nav-link {
    font-size: 12px;
    color: #ffffff;
    padding: 12px 5px;
    line-height: 20px;
}

.navbar-classic .navbar-nav .nav-item .nav-link .nav-icon {
    font-size: 13px;
    color: #ffffff;
}

/*.navbar-classic .dropdown-toggle::after, .dropup .dropdown-toggle::after {*/
/*    vertical-align: .255em;*/
/*    border-right: .3em solid transparent;*/
/*    border-left: .3em solid transparent;*/
/*    height: 0;*/
/*    content: ""*/
/*}*/

.navbar {
    padding: 0px;
}

.header-top .navbar {
    padding: 5px;
}

.fa-header {
    font-size: 20px;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #424a4e;
    content: "/";
    font-size: 12px;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #272c30;
    text-decoration: none;
    background-color: #424a4e0d;
    /*border-radius: 4px;*/
}

.card-footer,
.card-header {
    /*background-color: #f8f8fb;*/
    /*padding: 5px;*/
}

.btn,
btn-sm {
    /*padding: 4px 8px;*/
    /*font-size: 12px;*/
}

.card {
    /*margin-bottom: 0px;*/
}

.modal {
    z-index: 99999;
}

.header-top .navbar-classic .navbar-nav .nav-item .nama-sekolah {
    color: #114986;
}

.header-top .navbar-classic .navbar-nav .nav-item .nama-sekolah:hover {
    color: #003773;
}

.header-fixed .app-body {
    margin-top: 130px;
}

.breadcrumb li span {
    color: #424a4e;
    font-size: 14px;
}

.card-img-absolute {
    width: 25%;
    float: right;
    position: absolute;
}

.card-portal {
    background-color: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    /*border-style: solid;*/
    /*border-width: 2px 2px 2px 2px;*/
    /*border-color: #F2F2F2;*/
    box-shadow: 4px 3px 11px 0px rgba(0, 0, 0, 0.18);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 20px 20px 20px 20px;
    min-height: 130px;
    transition: transform .2s;
}

.font-portal {
    font-size: 40px;
    color: #FFF;
}

.icon-portal {
    width: 4.8rem;
    height: 4.8rem;
    padding: 1.2rem;
    background: linear-gradient(45deg, #09458a, #2ed8b6);
    border-radius: 100%;
}

.bg-portal :hover .icon-portal {
    /*background : #FFF !important;*/
}

.bg-portal :hover .font-portal {
    /*color: #39b49b !important;*/
}

.bg-portal:hover .card-portal {
    /*background-color: #39b49b;*/
    /*background: linear-gradient(45deg,#09458a,#2ed8b6);*/
    /*color: white;*/
}

.bg-promis {
    background: linear-gradient(45deg, #09458a, #2ed8b6);
    color: #FFF;
}

.nav-tabs .nav-link.active,
.nav-tabs .navbar .active.dropdown-toggle,
.navbar .nav-tabs .active.dropdown-toggle {
    font-size: 14px;
}

.nav-tabs .nav-link,
.nav-tabs .navbar .dropdown-toggle,
.navbar .nav-tabs .dropdown-toggle {
    font-size: 14px;
}

.dropdown-form {
    width: 400px;
    position: absolute;
    transform: translate3d(0px, 34px, 0px);
    top: 0px;
    left: 0px;
    will-change: transform;
}

.app-footer {
    background-color: #417cbd !important;
}

/*@media (min-width: 768px){*/
.footer-max {
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
}

/*}*/

.border-right-half {
    border-right: white solid 1px !important;
}

.col-header {
    /*float: left;*/
    /*position: absolute;*/
}

/*
Wizard
*/
.wizard {
    margin: 20px auto;
    background: #fff;
}

.wizard .nav-tabs {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    border-bottom-color: #e0e0e0;
}

.wizard>div.wizard-inner {
    position: relative;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs>li.active>a,
.wizard .nav-tabs>li.active>a:hover,
.wizard .nav-tabs>li.active>a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

span.round-tab i {
    color: #555555;
}

.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;

}

.wizard li.active span.round-tab i {
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs>li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}

.wizard .nav-tabs>li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.wizard .nav-tabs>li a:hover {
    background: transparent;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

@media(max-width : 585px) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs>li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}

.left1000 {
    left: -1000%;
}

.header-classic-demo {
    background-color: red;
}

.fa .fa-whatsapp:before {
    content: "\f02f" !important;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 90%;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .75em;
}

a.label:hover,
a.label:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.label:empty {
    display: none;
}

.btn .label {
    position: relative;
    top: -1px;
}

.label-default {
    background-color: #777;
}

.label-default[href]:hover,
.label-default[href]:focus {
    background-color: #5e5e5e;
}

.label-primary {
    background-color: #337ab7;
}

.label-primary[href]:hover,
.label-primary[href]:focus {
    background-color: #337ab7;
}

.label-success {
    background-color: #5cb85c;
}

.label-light-success {
    background-color: #d7eed7;
    color: #5cb85c;
}

.label-success[href]:hover,
.label-success[href]:focus {
    background-color: #449d44;
}

.label-info {
    background-color: #5bc0de;
}

.label-info[href]:hover,
.label-info[href]:focus {
    background-color: #31b0d5;
}

.label-warning {
    background-color: #f0ad4e;
}

.label-warning[href]:hover,
.label-warning[href]:focus {
    background-color: #ec971f;
}

.label-danger {
    background-color: #d9534f;
}

.label-light-danger {
    background-color: #f8e1e0;
    color: #d9534f;
}

.label-light-warning {
    background-color: #fbe8cd;
    color: #f0ad4e;
}

.label-danger[href]:hover,
.label-danger[href]:focus {
    background-color: #c9302c;
}

.label-light-primary {
    color: #337ab7;
    background-color: #dfecf6;
}

.label-primary[href]:hover,
.label-primary[href]:focus {
    background-color: #286090;
}

.label-light-info {
    color: #5bc0de;
    background-color: #eef8fc;
}

.label-info[href]:hover,
.label-info[href]:focus {
    background-color: #5bc0de;
}

.index-height {
    height: 50px;
    font-size: 13px;
}

.btn-light-info {
    color: #5bc0de;
    background-color: #eef8fc;
}

.btn-light-info:focus,
.btn-light-info.focus {
    color: #fff;
    background-color: #31b0d5;
}

.btn-light-info:hover {
    color: #fff;
    background-color: #31b0d5;
}

.btn-light-info:active,
.btn-light-info.active,
.open>.dropdown-toggle.btn-light-info {
    color: #fff;
    background-color: #31b0d5;
}

.btn-light-info:active:hover,
.btn-light-info.active:hover,
.open>.dropdown-toggle.btn-light-info:hover,
.btn-light-info:active:focus,
.btn-light-info.active:focus,
.open>.dropdown-toggle.btn-light-info:focus,
.btn-light-info:active.focus,
.btn-light-info.active.focus,
.open>.dropdown-toggle.btn-light-info.focus {
    color: #fff;
    background-color: #269abc;
}

.btn-light-info:active,
.btn-light-info.active,
.open>.dropdown-toggle.btn-light-info {
    background-image: none;
}

.btn-light-info.disabled:hover,
.btn-light-info[disabled]:hover,
fieldset[disabled] .btn-light-info:hover,
.btn-light-info.disabled:focus,
.btn-light-info[disabled]:focus,
fieldset[disabled] .btn-light-info:focus,
.btn-light-info.disabled.focus,
.btn-light-info[disabled].focus,
fieldset[disabled] .btn-light-info.focus {
    background-color: #5bc0de;
}

.btn-light-primary {
    color: #337ab7;
    background-color: #dfecf6;
}

.btn-light-primary:focus,
.btn-light-primary.focus {
    color: #eff5fa;
    background-color: #337ab7;
}

.btn-light-primary:hover {
    color: #eff5fa;
    background-color: #337ab7;
}

.btn-light-primary:active,
.btn-light-primary.active,
.open>.dropdown-toggle.btn-light-primary {
    color: #eff5fa;
    background-color: #337ab7;
}

.btn-light-primary:active:hover,
.btn-light-primary.active:hover,
.open>.dropdown-toggle.btn-light-primary:hover,
.btn-light-primary:active:focus,
.btn-light-primary.active:focus,
.open>.dropdown-toggle.btn-light-primary:focus,
.btn-light-primary:active.focus,
.btn-light-primary.active.focus,
.open>.dropdown-toggle.btn-light-primary.focus {
    color: #eff5fa;
    background-color: #204d74;
}

.btn-light-primary:active,
.btn-light-primary.active,
.open>.dropdown-toggle.btn-light-primary {
    background-image: none;
}

.btn-light-primary.disabled:hover,
.btn-light-primary[disabled]:hover,
fieldset[disabled] .btn-light-primary:hover,
.btn-light-primary.disabled:focus,
.btn-light-primary[disabled]:focus,
fieldset[disabled] .btn-light-primary:focus,
.btn-light-primary.disabled.focus,
.btn-light-primary[disabled].focus,
fieldset[disabled] .btn-light-primary.focus {
    background-color: #337ab7;
}

.btn-light-primary .badge {
    color: #337ab7;
    background-color: #eff5fa;
}

.btn-light-warning {
    color: #f0ad4e;
    background-color: #fbe8cd;
}

.btn-light-warning:focus,
.btn-light-warning.focus {
    color: #fff;
    background-color: #f0ad4e;
}

.btn-light-warning:hover {
    color: #fff;
    background-color: #f0ad4e;
}

.btn-light-warning:active,
.btn-light-warning.active,
.open>.dropdown-toggle.btn-light-warning {
    color: #fff;
    background-color: #f0ad4e;
}

.btn-light-warning:active:hover,
.btn-light-warning.active:hover,
.open>.dropdown-toggle.btn-light-warning:hover,
.btn-light-warning:active:focus,
.btn-light-warning.active:focus,
.open>.dropdown-toggle.btn-light-warning:focus,
.btn-light-warning:active.focus,
.btn-light-warning.active.focus,
.open>.dropdown-toggle.btn-light-warning.focus {
    color: #fff;
    background-color: #f0ad4e;
}

.btn-light-warning:active,
.btn-light-warning.active,
.open>.dropdown-toggle.btn-light-warning {
    background-image: none;
}

.btn-light-warning.disabled:hover,
.btn-light-warning[disabled]:hover,
fieldset[disabled] .btn-light-warning:hover,
.btn-light-warning.disabled:focus,
.btn-light-warning[disabled]:focus,
fieldset[disabled] .btn-light-warning:focus,
.btn-light-warning.disabled.focus,
.btn-light-warning[disabled].focus,
fieldset[disabled] .btn-light-warning.focus {
    background-color: #f0ad4e;
}

.btn-light-warning .badge {
    color: #f0ad4e;
    background-color: #fbe8cd;
}

.btn-light-danger {
    color: #d9534f;
    background-color: #f8e1e0;
}

.btn-light-danger:focus,
.btn-light-danger.focus {
    color: #fff;
    background-color: #d9534f;
}

.btn-light-danger:hover {
    color: #fff;
    background-color: #d9534f;
}

.btn-light-danger:active,
.btn-light-danger.active,
.open>.dropdown-toggle.btn-light-danger {
    color: #fff;
    background-color: #d9534f;
}

.btn-light-danger:active:hover,
.btn-light-danger.active:hover,
.open>.dropdown-toggle.btn-light-danger:hover,
.btn-light-danger:active:focus,
.btn-light-danger.active:focus,
.open>.dropdown-toggle.btn-light-danger:focus,
.btn-light-danger:active.focus,
.btn-light-danger.active.focus,
.open>.dropdown-toggle.btn-light-danger.focus {
    color: #fff;
    background-color: #d9534f;
}

.btn-light-danger:active,
.btn-light-danger.active,
.open>.dropdown-toggle.btn-light-danger {
    background-image: none;
}

.btn-light-danger.disabled:hover,
.btn-light-danger[disabled]:hover,
fieldset[disabled] .btn-light-danger:hover,
.btn-light-danger.disabled:focus,
.btn-light-danger[disabled]:focus,
fieldset[disabled] .btn-light-danger:focus,
.btn-light-danger.disabled.focus,
.btn-light-danger[disabled].focus,
fieldset[disabled] .btn-light-danger.focus {
    background-color: #d9534f;
}

.btn-light-danger .badge {
    color: #d9534f;
    background-color: #f8e1e0;
}

.btn-light-secondary {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-light-secondary:focus,
.btn-light-secondary.focus {
    color: #fff;
    background-color: #c9302c;
    border-color: #761c19;
}

.btn-light-secondary:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

.btn-light-secondary:active,
.btn-light-secondary.active,
.open>.dropdown-toggle.btn-light-secondary {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

.btn-light-secondary:active:hover,
.btn-light-secondary.active:hover,
.open>.dropdown-toggle.btn-light-secondary:hover,
.btn-light-secondary:active:focus,
.btn-light-secondary.active:focus,
.open>.dropdown-toggle.btn-light-secondary:focus,
.btn-light-secondary:active.focus,
.btn-light-secondary.active.focus,
.open>.dropdown-toggle.btn-light-secondary.focus {
    color: #fff;
    background-color: #ac2925;
    border-color: #761c19;
}

.btn-light-secondary:active,
.btn-light-secondary.active,
.open>.dropdown-toggle.btn-light-secondary {
    background-image: none;
}

.btn-light-secondary.disabled:hover,
.btn-light-secondary[disabled]:hover,
fieldset[disabled] .btn-light-secondary:hover,
.btn-light-secondary.disabled:focus,
.btn-light-secondary[disabled]:focus,
fieldset[disabled] .btn-light-secondary:focus,
.btn-light-secondary.disabled.focus,
.btn-light-secondary[disabled].focus,
fieldset[disabled] .btn-light-secondary.focus {
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-light-secondary .badge {
    color: #d9534f;
    background-color: #fff;
}

.btn-light-success {
    color: #5cb85c;
    background-color: #d7eed7;
}

.btn-light-success:focus,
.btn-light-success.focus {
    color: #fff;
    background-color: #5cb85c;
}

.btn-light-success:hover {
    color: #fff;
    background-color: #5cb85c;
}

.btn-light-success:active,
.btn-light-success.active,
.open>.dropdown-toggle.btn-light-success {
    color: #fff;
    background-color: #5cb85c;
}

.btn-light-success:active:hover,
.btn-light-success.active:hover,
.open>.dropdown-toggle.btn-light-success:hover,
.btn-light-success:active:focus,
.btn-light-success.active:focus,
.open>.dropdown-toggle.btn-light-success:focus,
.btn-light-success:active.focus,
.btn-light-success.active.focus,
.open>.dropdown-toggle.btn-light-success.focus {
    color: #fff;
    background-color: #5cb85c;
}

.btn-light-success:active,
.btn-light-success.active,
.open>.dropdown-toggle.btn-light-success {
    background-image: none;
}

.btn-light-success.disabled:hover,
.btn-light-success[disabled]:hover,
fieldset[disabled] .btn-light-success:hover,
.btn-light-success.disabled:focus,
.btn-light-success[disabled]:focus,
fieldset[disabled] .btn-light-success:focus,
.btn-light-success.disabled.focus,
.btn-light-success[disabled].focus,
fieldset[disabled] .btn-light-success.focus {
    background-color: #5cb85c;
}

.btn-light-success .badge {
    color: #5cb85c;
    background-color: #d7eed7;
}

.bg-card-white {
    background-color: #fff;
}

.font-grey {
    color: grey;
}

.bg-grey {
    background-color: #ececec;
}

.tr-master {
    border-top: 0px;
    background: #f8f8fb;
    color: #407cbd;
}

.font-blue {
    color: #337ab7;
}

.font-9 {
    font-size: 9px;
}

.font-10 {
    font-size: 10px;
}

.font-11 {
    font-size: 11px;
}

.font-12 {
    font-size: 12px;
}

.font-15 {
    font-size: 15px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-13 {
    font-size: 13px;
}

.border-top-none {
    border-top: 0px;
}

.pagination li a {
    color: #427bbd !important;
    background-color: #dfecf6;
    border: 1px solid #dfecf6;
    margin: 2px;
    border-radius: 5px;
    line-height: 1.2;
}

.pagination li a:hover {
    background-color: #c8e7ff !important;
    border: 1px solid #c8e7ff;
    /*color: white !important;*/
}

.pagination li input:hover {
    background-color: #c8e7ff !important;
    /*border: 1px solid #c8e7ff;*/
    /*color: white !important;*/
}

.border-bottom-grey {
    border-bottom: 1px solid #dfdfe1;
}

.border-top-grey {
    border-top: 1px solid #dfdfe1;
}

.border-right-grey {
    border-right: 1px solid #dfdfe1;
}

.separator-dashed {
    height: 0;
    border-bottom: 1px dashed #ebedf3;
    margin-bottom: 2rem !important;
}

.title-grouping {
    background: #f8f8fb;
    color: #407cbd;
    padding: 0;
}

.tr-detail {
    background: #dfecf6 !important;
    color: #407cbd !important;
}

.tr-detail th {
    background: #dfecf6 !important;
    color: #407cbd !important;
}

.tr-detail-danger {
    background: #f8e1e0 !important;
    color: #d9534f !important;
}

.tr-detail-danger th {
    background: #f8e1e0 !important;
    color: #d9534f !important;
}

.table-bordered.no-border-footer,
.table-bordered.no-border-footer tfoot tr,
.table-bordered.no-border-footer tfoot td {
    border: none;
}

.table-bordered-detail,
.table-bordered-detail td,
.table-bordered-detail th {
    border: 1px solid #bddef7;
}

.table-bordered-danger,
.table-bordered-danger td,
.table-bordered-danger th {
    border: 1px solid #fdbfbc;
}

.table-laporan-bold,
.table-laporan-bold td,
.table-laporan-bold th {
    border: 1px solid #c8ced3;
}

.nomor {
    width: 50px;
}

.pp-1 {
    padding: .30rem !important;
}

.option-radio {
    border: 1px solid #c2cfd6;
    border-radius: 10px;
    padding: 10px;
    width: 40%;
}

.option-radio.active {
    background-color: #f3faff;
    border-color: #417cbd;
}

.vertical-top {
    vertical-align: top !important;
}

.vertical-middle {
    vertical-align: middle !important;
}

.ml-30 {
    margin-left: 30px !important;
}

.fix-pengaturan {
    position: absolute;
    top: 35%;
    width: 54px;
    height: 50px;
    right: 0px;
    text-align: center;
    line-height: 56px;
    cursor: pointer;
    box-shadow: 0 14px 24px 0 rgb(62 57 107 / 26%);
    border-radius: 15px 0 0 15px;
}

.sidebar-pengaturan {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    right: 0;
    background-color: #fff;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidebar */
    box-shadow: 5px 5px 5px 5px #888;
}

.sidebar-pengaturan .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 25px;
    text-decoration: none;
    margin: 10px;
    color: black;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main-pemilu {
    transition: margin-right .5s;
    /* If you want a transition effect */

}

.line-height-20 {
    line-height: 20px !important;
}

.line-height-30 {
    line-height: 30px !important;
}

.uib-daypicker table thead tr th {
    padding: 1px !important;
    border: 0;
}

.uib-daypicker table tbody tr td {
    padding: 1px !important;
    border: 0;
}

.tr-border-top-none td {
    border-top: none !important;
}

.tr-border-bottom-none td {
    border-bottom: none !important;
}


/* .table-striped-custom tr:nth-child(8n + 2) td,
.table-striped-custom tr:nth-child(8n + 3) td {
    background-color: pink;
} */

.table-striped-custom tr:nth-child(8n + 6) td,
.table-striped-custom tr:nth-child(8n + 7) td {
    background-color: #f2f2f2
}

.btn-lg {
    border-radius: 5px;
    width: 20%;
}

.color-success {
    color: #5cb85c;
}

.color-danger {
    color: #d9534f;
}

.color-warning {
    color: #f0ad4e;
}

.color-primary {
    color: #337ab7;
}

.color-info {
    color: #5bc0de;
}

.text-underline {
    text-decoration: underline;
}

.text-italic {
    font-style: italic;
}

.border-bottom-black {
    border-bottom: solid 1px #a1a0a0;
}

.border-top-black {
    border-top: solid 1px #a1a0a0;
}

.border-top-bottom-black {
    border-top: solid 1px #a1a0a0;
    border-bottom: solid 1px #a1a0a0;
}

.ui-select-bootstrap.open {
    z-index: 2 !important;
}

.ui-select-bootstrap>.ui-select-choices,
.ui-select-bootstrap>.ui-select-no-choice {
    width: unset;
    min-width: 100%;
}
